body{margin:0;padding:0;font-family: work sans;}
section{max-width:1440px;margin:auto;width:100%}

/* header style sheet */
header {
    max-width: 1440px;
    margin: auto;
    
    
}
.lgc,.box-bar-top span{background: linear-gradient(360deg,#0522ffd9, #ff1b64f5);
color: transparent;
-webkit-background-clip: text;}
nav {
    max-width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .H-wrapper img {
    width: 61px;
    height: 31px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 15px;
    color: #353535;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

li.follow-us {
    padding: 7px 10px;
    background: #e7e7e7;
    border-radius: 5px;
}

li.follow-us i:first-child {
    color: red;
    font-size: 21px;
    padding: 0px 5px;
}

li.follow-us i:last-child {
    color: #1c7fd1;
    font-size: 21px;
}nav img {
    width: 62px;
    height: 32px;
}.H-wrapper {
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.H-wrapper h1 {
    font-size: 40px;
    padding: 0px 20px;
}

.H-wrapper h1 span {
    color: #ff42a5;
}

nav ul li:last-child {
    margin-left: 20px;
}

@media screen and (max-width:576px){
    nav{flex-direction: column;}
    nav ul{flex-direction: column;padding-left: 0;}
    nav ul li:nth-child(2){margin-top:12%;margin-bottom: 15%;}
}

/* sing in bar styles */
section.gamer-bar.sing-in-bar {
    background: #fff9fc;
}
.sing-in-bar-text{background-image: url(Group\ 14.png);}
section.sing-in-bar {
    display: flex;
    width: 1250px;
}

.sing-in-img img {
    width: 68%;
}
.sing-in-img {margin-left: 5%;}

.sing-in-bar-text h4 {
    padding-left: 30%;
    font-size: 32px;
    text-transform: uppercase;
    color: #454545;
    margin-top: 15%;
}

.sing-in-bar-text h2 {
    background: linear-gradient(360deg,#0522ffd9, #ff1b64f5);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 50px;
    font-weight: 800;
    margin: -1% 0;
    margin-left: 30%;
}
.sing-in-bar-text {
    width: 50%;
    background-size: cover;
}

.sing-in-bar-text p {
    margin-left: 30%;
    font-size: 15px;
    color: #404040;
}
button.primary-btn {
    border: none;
    padding: 16px 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 33px;
    color: white;
    background: #ff42a5;
    cursor: pointer;
}button.primary-btn.btn-one {
    margin-left: 30%;
    margin-right: 4%;
    cursor: pointer;
}

button.primary-btn.btn-two {
    background: #4ec5f7;
}
@media screen and (max-width:576px){button.primary-btn {
    padding: 10px;
    font-size: 10px;
}
    .sing-in-bar{flex-direction:column-reverse;}
    .sing-in-img{margin-left: 0;width: 300px;margin:auto;text-align: center;}
    .sing-in-bar-text h2{margin-left:0;padding-left: 0;text-align: center;font-size: 37px;}
    .sing-in-bar-text h4{margin-left: 0;padding-left: 0;font-size: 22px;text-align: center;}
    .sing-in-bar-text p{margin-left: 0;padding-left: 0;text-align: center;font-size: 13px;margin: 19px 0;}
    button.primary-btn.btn-one{margin:0;text-align: center;margin-left: 30%;/* padding: 4%; */margin-bottom:40px}
    sing-in-bar{width: 300px;margin: auto;}
    section.sing-in-bar{width: 300px;}
    .sing-in-bar-text {
        width: 100%;
        background-size: cover;}
        .sing-in-img img {
            margin: auto;
            width: 280px;}
    .sing-in-img img {
    margin: auto;
    width: 300px;}

}

/* gamer section style */
.sing-in-img.gamer-bar-img {
    margin-left: 6%;
}

.sing-in-img.gamer-bar-img img {
    width: 90%;
}

.sing-in-bar-text.gamer-bar-t {
    background: none;
}

.sing-in-bar-text.gamer-bar-t h2 {
    margin-left: 60px;
    font-size: 35px;
    margin-top: 12%;
}
.sing-in-bar-text.gamer-bar-t p {
    margin-left: -49px;
    width: 70%;
    text-align: end;
    font-size: 76%;
    padding: 3% 0;
}.gamer-bar-t.sing-in-bar-text h5 {margin-top:4%;margin-bottom: 1%;
    text-align: end;
    font-weight: 500;
    width: 59%;
     font-size: 22px; 
    color: gray;
    padding: 0;
}.gamer-bar-t.sing-in-bar-text h6 {
    font-size: 23px;
    margin-top: 2%;
    text-align: end;
    font-weight: 700;
    width: 85%;
    margin-left: -25%;
    color: #000000db;
}

@media screen and (max-width:576px){
    .sing-in-bar-text.gamer-bar-t h2 {
    margin-left: 0px;
    font-size: 25px;
    margin-top: 12%;}
    .sing-in-bar-text.gamer-bar-t p {
        /* margin-left: -70px; */
        width: 70%;
        text-align: center;
        font-size: 76%;
        padding: 8% 0;
        margin: auto;}
        .gamer-bar-t.sing-in-bar-text button {
            margin-left: 37%;
        }
        .sing-in-img.gamer-bar-img {
            margin-left: 0%;
        }.sing-in-img.gamer-bar-img img {
            width: 100%
    }.gamer-bar-t.sing-in-bar-text h5 {margin-top:4%;margin-bottom: 1%;
        text-align: end;
        font-weight: 400;
        width: 85%;
         font-size: 15px; 
        color: gray;
        padding: 0;
    }.gamer-bar-t.sing-in-bar-text h6 {
        font-size: 16px;
        margin-top: 2%;
        text-align:center;
        font-weight: 600;
        width: 100%;
        margin-left:0%;
        color: #000000db;
    }
}
/* four box */
.box-bar-top {
    text-align: center;
    color: #454545;
    margin-top: 7%;
}

.box-bar-top h2 {
    font-size: 31px;
}

.box-bar-top p {
    font-size: 13px;
    margin: -5px 0;
}
.box-container {
    margin: auto;
    display: flex;
    margin-top: 50px;
    gap: 1.5%;
    font-size: 15px;
    color: #3b3b3b;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
}
.box {
    /* margin: auto; */
    position: relative;
    width: 230px;
    height: 323px;
}
.box img {
    width: 100%;
}
.box p {
    width: 95%;
    margin: 10px auto;
}
.boxthree h6 {
    position: absolute;
    top: 33%;
    font-size: 20px;
    color: #ff40ec;
    left: 22%;
}

.boxthree i {
    position: absolute;
    top: 29%;
    left: 39%;
    font-size: 22px;
    color: white;
    background: black;
    border-radius: 100%;
    padding: 14px;
    text-align: center;
    cursor: pointer;
}.boxone {height: 264px;}

.boxtwo {
    height: 264px;
}

.boxthree {
    height: 264px;
    background-image: linear-gradient(rgb(0 0 0 / 43%), rgb(0 0 0 / 46%)),url(Rectangle7.png);
    width: 100%;
    background-size: cover;
    border-radius: 9px;
    cursor: progress;
}

.boxfour {
    height: 264px;
}

@media screen and (max-width:576px){
    .box-container{flex-direction: column;align-items: center;}
    .box{margin-bottom:40px;}
}

/* install related styles */
section.install {
    display: flex;
    padding: 50px 0;
}


.install-img-box img {
    width: 100%;
    position: relative;
}

.install-img-box img:last-child {
    width: 60%;
    position: absolute;
    bottom: -43px;
    left: -116px;
}

.install-img-box {margin-right: 55px;
    position: relative;
    width: 530px;
}

.install-text {
    padding: 120px 0;
}

.install-text h2 {
    font-size: 31px;
    color: #e04cc0;
    width: 38%;
    margin: auto;
}

.install-text h2 span {
    color: #1d1d1d;
}

.install-text p {
    font-size: 15px;
    color: #656565;
    width: 38%;
    margin: auto;
    margin-top: 22px;
}

@media screen and (max-width:576px){.install-img-box img {
    width: 90%;
    position: relative;
}
    section.install {
        flex-direction: column;
        padding: 30px 0;}
        .install-text h2 {
            font-size: 25px;
            width: 85%;}
            .install-text p {text-align: center;
                 width:100%}.install-text{padding:0;width: 68%;margin: auto;}
    .install-img-box img:last-child {
                    width: 41%;
                    bottom: -36px;
                    left: -50px;
                    }
    .install-img-box {   width: 85%;
                        margin: auto;margin-top:40px; margin-left: 68px;
}
footer (width: 100%;)
}

/* circle section styles*/section.circle {
    padding: 50px 0;
}
.circleone {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 32px 0;
    margin-top: 30px;
}
.circletwo {padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
}

.circle-box {
    transition: 0.1s;
    border-radius: 37px;
    background: white;
    box-shadow: 3px 4px 19px #0000003b;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.circle-box img {
    width: 36px;
}

.circle-box p {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: black;
    padding: 3px 15px;
}.circle-box img {
    width: 46px;
}.colerful{color:pink}
@media screen and (max-width:576px){
    .hide{display: none;}
    .circle-box {padding: 1px;}
    .circle-box p {
        text-align: center;
        font-size: 5px;
        font-weight: 600;
        color: black;
        padding: 7px 5px;}.circle-box img {
            width: 30px;
        }.circletwo {padding-bottom: 20px;}
}.circle-box.colerful p {
    color: #ff6b6b;
}

.circle-box.colerful {
    border: 2px solid #ffa3b3;
}
/* footer related styles */
.gamer-bottom.H-wrapper {
    justify-content: center;
}footer {
    max-width: 1440px;
    margin: auto;
    color: #ffffff;
    background: black;
    padding: 48px 61px;
}

ul.options {
    list-style: none;
    display: flex;
    width: 701px;
    margin: auto;
}

ul.options li {
    padding: 0px 22px;
}

ul.logobtm {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 668px;
    margin: auto;
    margin-top: 45px;
    font-size: 37px;
}

ul.termsbtm {
    list-style: none;
    display: flex;
    justify-content: center;
}

ul.termsbtm li {
    padding: 25px;
    font-size: 12px;
    color: #dadada;
}

footer p {
    text-align: center;
    font-size: 12px;
    color: #dcf2dc;
}section.circle {
    padding: 50px 0;
}

.circle-box:hover {
    box-shadow: 1px 1px 15px #efa2a2;
}
@media screen and (max-width:576px){.install-img-box img {
    width: 80%}
    section { width:350px; }
    .option li{grid-area: a;}
    .footer{width: 400px;}ul.logobtm li{width: 300px;}ul.options li{
    margin-bottom: 9px;
}
    ul.options{width: 170px;margin:auto;flex-direction: column;}ul.termsbtm li{padding:0}
    ul .options li{padding:0;}
        ul.logobtm li { width: 10px;}
        ul.logobtm {
            width: 90%;
            font-size: 30px;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            padding: 0;
            margin: 0;
            gap: 10%;
            margin-left: 10%;}
            ul.termsbtm{margin-left: -25PX;}
}
@media screen and (min-width:576px) and (max-width:960px) {
   header{ width:960px;}section.sing-in-bar{width:960px}.sing-in-bar-text {width: 76%;}
   .sing-in-bar-text.gamer-bar-t h2 { margin-left: 0;}
   ul.options{width: 600px;}
   ul.logobtm {
    width: 90%;
    font-size: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 0;
    margin: 0;
    gap: 10%;
    margin-left: 10%;}
    ul.termsbtm{margin-left: -25PX;}
    section{width:960px};
    footer {
        

        color: #ffffff;
        background: black;
        padding: 38px 41px;
        width: 100%;

    }
    .HIDEP{display: none;}
    .box-container{width:70%}
    .box-container{height:80%}
    .boxthree{height:190px;margin-bottom: 25%;}
    .box p {
        width: 95%;
        margin-top: -50px;
        font-size: 11px;
    }.box .brk-p {  margin-top:-15px;}
    section.circle {
        padding: 40px 0;
        width: 90%;
    }.install-img-box img {
        width: 80%;}.install-img-box img:last-child {
            width: 50%;
            position: absolute;
            bottom: 11px;
            left: -93px;}
        footer {width: 100%;}

}